/*.banner {
	background-image: url('../img/colors.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 1000px;
}*/

body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("../img/colors.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}