.top-bar {

    .menu-text {
      color: $white;
    }

    .menu li {
    	color: $topbar-link-color;
      display: flex;
      align-items: center;
    }

    .menu a {
      color: $topbar-link-color;
      font-weight: bold;
    }
  }
}