<div class="top-bar">
  <div class="top-bar-left">
    <ul class="menu">
    	<li><a href="index.html">Home</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="research.html">Research</a></li>
      <li><a href="the_team.html">The Team</a></li>
      <li><a href="educational_philosophy.html">Educational Philosophy</a></li>
      <li><a href="blog.html">Dev Blog</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
  	<ul class="menu">
  		<li><a href="#" class="primary button">PLAY GAME</a></li>
  	</ul>
  </div>
</div>
